<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614145274821-kpuec8iuebbq9bqb05pift2d88vacud4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614145274821-kpuec8iuebbq9bqb05pift2d88vacud4</string>
	<key>API_KEY</key>
	<string>AIzaSyCf472HH6MM18wbXufFPUvH0v8dabeMpsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>614145274821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FirebaseChat.Firebase-Chat</string>
	<key>PROJECT_ID</key>
	<string>my-chattest-35118</string>
	<key>STORAGE_BUCKET</key>
	<string>my-chattest-35118.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614145274821:ios:c8620c98c03beb2e</string>
	<key>DATABASE_URL</key>
	<string>https://my-chattest-35118.firebaseio.com</string>
</dict>
</plist>